$space_blue: #203658;
$forest_tan: #D9B08C;
$space_blue_opacity: rgba(32, 54, 88, 0.75);
$forest_tan_opacity: rgba(217, 176, 140, 0.75);
$background_opactiy: rgba(0, 0, 0, 0.15);

$primary_color: #171614;
$secondary_color: #9A8873;
$secondary_color_opacity: rgba(154, 136, 115, 0.75);
$tertiary_color: #3A2618;
$quaternary_color: #37423D;

@font-face {
    font-family: 'Exo';
    src: url('/fonts/static/Exo-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
font-family: 'Exo';
src: url('/fonts/static/Exo-Bold.ttf') format('truetype');
font-weight: bold;
font-style: normal;
}