@import './fontscolors.scss'; // Import the font and color variables

.footer {
    background-color: $forest_tan;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 35px;
}