$space_blue: #203658;

.footer {
    background-color: $space_blue;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: flex-start;
}