@import './fontscolors.scss'; // Import the font and color variables

.headerbar {
    background-color: $space_blue;
    position: sticky;
    top: 0;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;

    h1 {
        margin: 2.5px;
        font-size: 30px;
        color: #fff;
        font-family: 'Exo', sans-serif;
    }
}