@import './fontscolors.scss'; // Import the font and color variables

.project-hub {
    margin-left: 250px; // Set the left margin to the width of the sidebar
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
}

.project-hub__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;   

    h1 {
        font-size: 30px;
        color: #fff;
        font-family: 'Exo', sans-serif;
    }
}

//content display for the project page
.project-hub__display {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px;
    padding: 30px;
    height: 100%;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 20px;
}


.card {
    width: 250px;
    height: 400px;
    border: $space_blue 2px solid;

    .card-img-top {
        height: 150px;
        width: auto;
        object-fit: cover;
        object-position: center;
    }

    .card-body {
        height: 200px;
        padding: 10px;
        background-color: $space_blue_opacity;
        color: #fff;
        font-family: 'Exo', sans-serif;
        font-weight: bold;
    }
}

.tile {
    height: 200px;
    background-color: #f0f0f0; 
    border: 1px solid #ddd; 
    padding: 20px; 
    border-radius: 10px; 
    transition: background-color 0.3s ease; 

    &:hover {
        background-color: #e0e0e0; 
    }
}

.tile-content {
    text-align: center;

    h3 {
        font-size: 1.5rem;
        margin-bottom: 10px;
        font-family: 'Exo', sans-serif;
    }

    p {
        font-size: 0.9rem;
        color: $space_blue;
        font-family: 'Exo', sans-serif;
    }
}

.project-hub__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;   

    h1 {
        font-size: 20px;
        color: #fff;
        font-family: 'Exo', sans-serif;
    }
}

.tile-link {
    padding: 3px;
    margin: 3px;
}