{{#if this.isMobileScreen}}
<MobileHeader @links="{{this.links}}"/>
{{else}}
<div class="sidebar-container">
    <div class="sidebar">
        <div class="sidebar-header">
            <span class="name">Alex Mulvaney</span>
        </div>
            <ul>
                {{#each this.links as |link|}}
                <li><LinkTo @route={{link.url}}><strong>{{link.label}}</strong></LinkTo></li>
                {{/each}}
            </ul>
        <SocialBar />
    </div>
</div>
{{/if}}