<div class="sidebar-container">
    <div class="sidebar">
        <ul>
            {{#each this.links as |link|}}
            <li><a href={{link.url}}><strong>{{link.label}}</strong></a></li>
            {{/each}}
        </ul>
        <SocialBar />
    </div>
</div>