<div class="sidebar-container">
    <div class="sidebar">
        <ul>
            {{#each this.links as |link|}}
            <li><a href={{link.url}}>{{link.label}}</a></li>
            {{/each}}
        </ul>
    </div>
</div>