<div class="sidebar-container">
    <div class="sidebar">
        <div class="sidebar-header">
            <span class="name">Alex Mulvaney</span>
        </div>
            <ul>
                {{#each this.links as |link|}}
                <li><a href={{link.url}}><strong>{{link.label}}</strong></a></li>
                {{/each}}
            </ul>
        <SocialBar />
    </div>
</div>