<div class="resume-download">
    <div class="resume-download__header">
        <h2>Grab a copy of my latest resume below!</h2>
        <p>Click the image below to download a PDF copy.</p>
    </div>
    <div class="resume-container">
        <a href="files/resume.pdf" download>
            <img src="images/resume-image.jpg" alt="Resume">
        </a>
    </div>
</div>