<div class="d-flex border-top">
    <ul class="social-links">
        <li>
            <a class="social-link" href="https://github.com/mulvaneya7" target="_blank" rel="noopener noreferrer">
                <FaIcon @icon="square-github" @prefix="fab" @size="2x"/>
            </a>
        </li>
        <li>
            <a class="social-link" href="https://www.linkedin.com/in/alex-mulvaney/" target="_blank" rel="noopener noreferrer">
                <FaIcon @icon="linkedin" @prefix="fab" @size="2x"/>
            </a>
        </li>
    </ul>
</div>