<div class="card">
  <img class="card-img-top" src={{@imageUrl}} alt="Card cap">
  <div class="card-body">
    <p class="card-text">{{@projectDescription}}</p>
    <a href="#" class="card-link">Project Link</a>
  </div>
</div>