<div class="project-hub">
    <div class="project-hub__header">
        <h1>Projects</h1>
    </div>
    <div class="project-hub__display">
        <ProjectMap::Project::ProjectCard @imageUrl="/images/flask.jpg" @projectDescription="This Flask-based project is dedicated to crafting a RESTful API microservice 
        that replicates Twitter's user management, authentication, and dynamic timeline functionality. "/>
        {{outlet}}
    </div>
</div>