{{page-title "about me"}}
<MySidebar />
<div class="aboutme-page">
    <div class="aboutme-display">
        <div class="aboutme-content">
            <PortraitImage @imageUrl="/images/me.jpg" />
            <AboutmeTextDisplay @text1="Hello! My name is Alex and I am a seasoned Cloud Engineering Consultant based in Southern California, I bring a dynamic blend of technical expertise and creative problem-solving to every project. My experience with top-tier firms like Deloitte, coupled with my hands-on involvement in key projects for clients such as Walmart International and Apple, has honed my skills in cloud architecture, DevOps practices, and technical project management. I thrive in environments that challenge me to deliver high-quality solutions within strict timelines and financial constraints, and I am skilled in communicating complex technical concepts to both technical and non-technical stakeholders. My academic background in Computer Science from California State University Fullerton, supported by professional certifications like AWS Solutions Architect Associate, forms the foundation of my technical knowledge."
            @text2="Outside of the office, you'll find me embracing the vibrant outdoor culture of Southern California. I am an avid surfer, snowboarder, and backpacker, always seeking new adventures and experiences in nature. These activities not only fuel my passion for exploration but also provide me with a unique perspective that I bring to my professional life. Additionally, I have a growing interest in blockchain technology. Its potential for innovation and disruption in various sectors aligns with my enthusiasm for emerging technologies and continuous learning."/>
        </div>
    </div>
</div>
{{outlet}}