{{page-title "about me"}}
<MySidebar />
<div class="aboutme-page">
    <div class="aboutme-display">
        <div class="aboutme-content">
            <PortraitImage @imageUrl="/images/me.jpg" />
            <AboutmeTextDisplay @text1="Hello! I am Alex Mulvaney. In the golden state of California, I emerged a Computer Science graduate from California State University, Fullerton. For three years, I have assumed the role of a Cloud Engineering Consultant, sculpting digital infrastructures in the vast expanse of the cloud. I navigated ever-shifting cloud technologies, weaving robust digital solutions within the dynamic landscape of cloud technologies."
            @text2="My journey is a relentless quest for knowledge and excellence, embracing the beauty of well-structured code and the elegance of efficient algorithms. In the world of technology, I find solace in the simplicity of a well-crafted line of code, always seeking to uncover the profound in the seemingly mundane. As a storyteller in the digital realm, I weave tales of innovation and progress, and my journey has just begun in the ever-expanding universe of technology."/>
        </div>
    </div>
</div>
{{outlet}}